border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

body
    font-family: 'Helvetica', '微软雅黑'
    width: 1080px
    margin: 0 auto
    font-size: 11pt

header
    margin: 10px 0 40px 0

footer
    text-align: center
    margin: 20px auto 0 auto
    font-size: 0.75em
    color: rgba(100, 100, 100, 0.7)

h1
    font-size: 40pt
    font-family: 'Merienda One', cursive;

h2
    font-size: 30pt

a
    text-decoration: none
    color: rgba(20, 20, 180, .7)

.full
    width: 100%

.list_view > *
    display: inline-block

#input_view #input_form
    margin: 0 auto
    padding: 20px 0
    width: 700px
    text-align: center
    vertical-align: middle
    border-radius: 13px
    background-color: rgba(120, 120, 120, .3)

#input_view #input_form input
    height: 40px
    font-size: 1.5em
    padding: 0 10px
    margin: 0 7px
    border-radius: 5px

#input_view #input_form input#content
    width: 300px

#input_view #input_form input#amount
    width: 100px

#input_view #input_form input#add
    width: 120px

#items_view
    clear: both
    width: 80%
    margin: 20px auto

#items_view #head
    font-weight: bold
    font-size: 1.2em
    margin: 7px auto

#items_view li
    padding: 7px 0
    height: 20px
    vertical-align: middle

#items_view .content
    width: 40%

#items_view .amount
    width: 15%
    text-align: right
    padding: 0 10px
    margin: 0 10px

#items_view .date
    width: 15%

#items_view .actions
    width: 12%
    text-align: center

#stats_view
    clear: both
    width: 100%